.noticeContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  background: rgba(50, 50, 50, 0.5);

  .noticeImageContainer {
    position: relative;

    .noticeImage {
      max-height: 100vh;
      width: auto;
      max-width: 100vw;
    }

    .closeButton {
      position: absolute;
      z-index: 5001;
      left: 20px;
      top: 20px;
      color: rgba(50, 50, 50, 0.5);
      font-size: 2rem;
    }
  }
}
